@mixin absPosition($top,$right,$bottom,$left) {
  @if ($top) {

  } @else {
    $top: auto
  }
  @if ($right) {

  } @else {
    $right: auto
  }
  @if ($bottom) {

  } @else {
    $bottom: auto
  }
  @if ($left) {

  } @else {
    $left: auto
  }
  & {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

.Kmodal {
  font-family: "PingFangSC-Semibold","PingFang SC Semibold","PingFang SC","微软雅黑";
  color: #666;
  @include absPosition(0, 0, 0, 0);
  &-mask {
    @include absPosition(0, 0, 0, 0);
    background: rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out;
    opacity: 0;
  }
  &-mask.active{
    opacity: 1;
  }
  &-box {
    transition: all .3s ease-in-out;
    transform: translate(-50%, -60%);
    opacity: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    background: white;
    width: 500px;
    padding: 25px 25px 10px 25px;
  }
  &-show{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &-head{
    padding: 5px;
  }
  &-title{
    font-size: 18px;
    text-align: center;
  }
  &-cancel{
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAQVJREFUOBGtkwsKwjAMhtdOPZYgCh5DJsoeB9oDFdk9RMFjKdvMr+vourQyMVCaNfm/pVkmsixbSykfYRjevB+sKIpFXdczSdonrXOapquxnFZzBkPGcXytqmpHVR3GwJALDbRgCFWFClCZ+yRJLuqc27ncDgQBl2CCbDk90DeYDQLdAGSDuSBWkA4jf4NnstLVP7aij87z8jyfA9A+b6IouquYuWOO/mJWEHpCb0A1uBpW2Z6ROzQWpDcW18FCf1xDO+iRDjEH0xXrgVyJ6jK2nA5kS1AAfedy3yAuoAs539QImpWlEOKEv9jsCQfQzwDzff9IH2Irm6aZUDAYCwGw1QTkTl+Nbdsq+36o9QAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
  &-input{
    width: 100%;
    height: 34px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    text-indent: 10px;
    padding:10px 0;
    margin: 20px 0;
  }
  &-user{
    display: flex;
    flex-direction: column;
    border: 1px dashed #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
  }
  &-row{
    display: flex;
    justify-content: space-around;
  }
  &-label{
    white-space:nowrap;
    padding: 10px;
  }
  &-value{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  &-info{
    padding: 20px 0;
    font-size: 34px;
    text-align: center;
  }
  &-info-text{

  }
  &-red{
    color: red;
  }
  &-foot{
    display: flex;
    justify-content: center;
  }
  &-btn{
    padding: 5px;
    width: 90px;
    text-align: center;
    color: white;
    background: #a7a7a7;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &-query{
    background:#00aaee ;
  }
  &-fire{
    background: red;
  }
}